.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: #242424;
}
.inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}
.input {
  width: 100%;
  padding: 20px;
  font-size: 16px;
}
.button {
  padding: 20px;
  background: #373737;
  border: 1px solid #373737;
  border-radius: 50%;
  margin-left: 10px;
}
.loading {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.loading:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #747bff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
